#login_box_wrapper {
  margin: 100px auto;
  width: 350px;
  h1 {
    color: #eee;
    font-size: 28px;
    padding: 0 0 5px 5px;
    text-shadow: #222 2px 2px 2px;
  }
  #login_box {
    background: rgba(255, 255, 255, .05);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    box-shadow: #222 0px 0px 10px;
    header {
      h2 {
        color: #eee;
        font-size: 14px;
        padding: .75em .5em .5em 1em;
        text-shadow: #222 0px 1px 1px;
      }
    }
    section {
      background: #fff;
      padding: 1em;
    }
  }
}
