/* line 1, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  /*	vertical-align: baseline; */
}

/* line 12, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  moz-box-sizing: border-content;
}
/* line 22, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 26, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
img {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  padding: 0px;
}

/* line 35, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
a img {
  border: 0px;
}

/* line 38, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
:focus {
  outline: 0;
}

/* line 41, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 46, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 49, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 53, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 58, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after {
  content: "";
}

/* line 62, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
q:before, q:after {
  content: "";
}

/* line 65, ../../../../../app/assets/stylesheets/notjustagrid/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: "" "";
}
